<h1><%= t 'views.titles.contacts' %></h1>
г. Киев,
<br/>
Голосеевский район,центральный Автовокзал,
<br/>
метро Демеевская
<br/>
<br/>
Наши телефоны:
<br/>
(044) 355-55-55,255-55-55
<br/>
Life  093-955-55-55
<br/>
Djuice 097-555-55-55(без выходных)
<br/>
e-mail: office@babystore.com
