<div id='about-wrapper'>
  <h3><%= t 'views.titles.about' %></h3>
Обращайтесь к нам! Доступность цен, высокое качество продукции и организованность нашей работы Вас приятно удивят!...
<br/>
"Деньги сэкономленные - равно деньги заработанные."
<br/>
"Умение сэкономить - это на самом деле  возможность приобрести больше."
Комплектация строительных объектов под ключ!
Выполняем строительные работы любой степени сложности. (Лицензия)
<br/>
  Ценовая политика компании позволяет успешно конкурировать на ринке. Сегодня, это достигается за счёт: оптимального количества работников штата, оперативной и слаженной работой с заводами-производителями и филиалами иностранных компаний и главным образом рациональной радикально низкой ценой на всю продукцию. Работа компании ориентирована на широкую клиентскую базу и организована по трём основным направлениям:
</div>
<% content_for :header do%>
  <h1><%= I18n.t('views.titles.about') %></h1>
<% end %>
