<h1>Edit setting</h1>
<%= form_for @setting, :url => admin_setting_path(@setting) do |f| %>
  <dl class="settings-show">
    <dt>
      <%= f.label :name, 'Name' %>
    </dt>
    <dd>
      <%= f.text_field :name %>
    </dd>
  </dl>
  <%= f.submit 'Save' %>
<% end %>
