<% if @items.any? %>
  <div class="goods-preview_list">
    <div class="goods-preview">
	    <% @items.each do |product| %>
	      <div class="item-preview">
	      	<%= link_to image_tag(product.picture.photo.url(:thumb), :class => "item-image"), product_path(product) %>
	      	<div><%= format_price product.price %></div>
	      	<%= product_link(product) %>
	      </div>
	    <% end %>
	</div>
  </div>
<% else %>
  <h1>No boilers in database</h1>
<% end %>
