<% if @items.any? %>
  <div class="goods-preview_list">
    <%= render 'product_list', :products => @items %>
  </div>
<% else %>
  <h1>No items in database</h1>
<% end %>

<% content_for :header do%>
	<h1><%= @category.nil? ? 'All Items' : @category.name %></h1>
<% end %>