<h1>Edit Category</h1>
<%= form_for @category, :url => admin_category_path(@category) do |f| %>
  <dl class="category-form">
    <dt>
      <%= f.label :name, 'Name' %>
    </dt>
    <dd>
      <%= f.text_field :name %>
    </dd>
  </dl>
  <div class="clear" ></div>
  <%= f.submit 'Save' %>
<% end %>
