<h1><%= t('views.titles.shipping_details') %></h1>
Мы предоставляем вам возможность оплатить товар любым удобным для вас способом - возможен как наличный, так и безналичной расчет. Оплата наличными происходит после получения товара. В том случае, если Вы заказывали стройматериалы с доставкой, то заказ оплачивается курьеру. При самовывозе, оплата производится в главном офисе фирмы. В этом случае отгрузка строительных материалов происходит сразу по факту внесения оплаты. Вместе с товаром будет выдана счет-фактура и другие необходимые сопроводительные документы.
